.header {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #1f5dcf;
    display: flex;
    align-items: center;
}


.logo {
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 0;
}

.user {
    margin-left: auto;
    font-weight: 600;
    font-size: 16px;
}

.sectionInner {
    height: calc(100vh - 64px);
}

.content {
    border-radius:  16px;
    padding: 24px;
}

.sectionContent {
    padding: 32px;
}